---
const { title, type = "h2" } = Astro.props;
---

<style>
    .title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin: 1rem 0;
    }
    
    .star {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
    }
</style>

<div class="title-container">
    <img 
        src="http://localhost/progetti/portfolio/wp-content/themes/gutenify-photography/images/star-bg-color.png" 
        alt="" 
        class="star wp-image-3746"
    >
    
    {type === "h1" && <h1>{title}</h1>}
    {type === "h2" && <h2>{title}</h2>}
    {type === "h3" && <h3>{title}</h3>}
    {type === "h4" && <h4>{title}</h4>}
    {type === "h5" && <h5>{title}</h5>}
    {type === "h6" && <h6>{title}</h6>}
    
    <img 
        src="http://localhost/progetti/portfolio/wp-content/themes/gutenify-photography/images/star-bg-color.png" 
        alt="" 
        class="star wp-image-3746"
    >
</div>