---
import FormGroup from "./FormGroup.astro";
import Panel from "./Panel.astro";
import Table from "./Table.astro"

const url = new URL("/api/projects", Astro.request.url);
const res = await fetch(url);
const projects = await res.json();

const addProjectFields = [
    { id: "name" , label: "Nome", type: "input", inputType: "text" , placeholder: "Nome progetto" },
    { id: "description" , label: "Descrizione", type: "input", inputType: "text" , placeholder: "Descrizione" },
    { id: "year" , label: "Anno", type: "input", inputType: "text" , placeholder: "Anno" },
]

const ids = projects.map(({ id, nome }) => ({ value: id, label: `${id} - ${nome}` }));

const editProjectFields = [
    { id: "id" , label: "ID", type: "select", options: ids },
    { id: "name" , label: "Nome", type: "input", inputType: "text" , placeholder: "Nome progetto" },
    { id: "description" , label: "Descrizione", type: "input", inputType: "text" , placeholder: "Descrizione" },
    { id: "year" , label: "Anno", type: "input", inputType: "text" , placeholder: "Anno" }
]

const deleteProjectFields = [
    { id: "id" , label: "ID", type: "select", options: ids}
]
---

<Panel title="Gestione Progetti" pageId="progetti">
    <style>
        .forms {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin: 2%;
        }
    </style>
    <Table projects={projects} />
    <div class="forms">
        <FormGroup title="Aggiungi Progetto" fields={addProjectFields}/>
        <FormGroup title="Modifica Progetto" fields={editProjectFields}/>
        <FormGroup title="Elimina Progetto" fields={deleteProjectFields}/>
    </div>
</Panel>
