---
import Layout from "../../layouts/Layout.astro";
import Header from "../Home/Header.astro";
import PhotoCard from "../Home/PhotoCard.astro";
import VideoPlayer from "../../components/Home/VideoPlayer.astro"
import "../../global.css";

const { project } = Astro.props;

// Fetch related media
const url = new URL("/api/media?slug="+project.slug, Astro.request.url);
const res = await fetch(url);
const media = await res.json();

const photos = media.filter((media: any) => media.tipo === "image");
const video = media.find((media: any) => media.tipo === "video");

---
<style>
    .content {
        color: white;
    }

    h1 {
        text-align: center;
    }
</style>
<Layout>
    <!-- <Header /> -->
    <div class="project-header">
        <h1>{project.nome}</h1>
        <p>{project.descrizione}</p>
    </div>
    <div class="gallery">
        <div class="video-container">
            <VideoPlayer videoPath={video} controls={false}/>
        </div>
        <div class="photos-container">
            {
                photos.map((photo: any) => (
                    <PhotoCard photo={photo} />
                ))
            }
        </div>
    </div>
</Layout>