---
import Layout from "../../layouts/Layout.astro";
import Header from "../Home/Header.astro";
import PhotoCard from "../Home/PhotoCard.astro";
import VideoPlayer from "../Home/VideoPlayer.astro";
import { fetchApi } from "../../scripts/fetchApi.js"
import "../../global.css";
import logo from "../../../public/logo-nobg.png"

const { project } = Astro.props;

// Fetch related media
const url = new URL("/api/media/project/"+project.id, Astro.request.url);
const medias = await fetchApi(url);

const photos = medias.filter((media: any) => media.tipo === "photo");
const video = medias.find((media: any) => media.tipo === "video");
---

<style>
    .content {
        color: white;
    }

    h1 {
        text-align: center;
    }
</style>
<Layout>
    <Header logo={logo} />
    <div class="project-header">
        <h1>{project.nome}</h1>
        <p>{project.descrizione}</p>
    </div>
    <div class="gallery">
        <div class="video-container">
            <VideoPlayer videoPath={video} controls={false}/>
        </div>
        <div class="photos-container">
            {
                photos.map((photo: any) => (
                    <PhotoCard photo={photo} />
                ))
            }
        </div>
    </div>
</Layout>